body {
    background-image: url("../images/dust_scratches.png");
}
header {
    background-color: #ffffff;
    border-bottom: solid #cccccc 1px;
    float: left;
    width: 960px;
    margin-left: 200px;
}

#isaac {
    font-weight: bold;
    font-size: 25px;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px;
}

nav {
    float: right;
    margin-top: 25px;
}

#mainContent {
    background-color: #ffffff;
    width: 650px;
    float: left;
    margin-top: 25px;
    margin-left: 200px;
    
}

#aboutMe {
    border-bottom: solid #cccccc 1px;
    padding: 25px;
    margin: 0px;
    font-weight: bold;
    color: #4aaaa5;
}

figure {
    margin-left: 25px;
}

#amber {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

p {
   margin-right: 25px; 
   margin-left: 25px;
}

#connectWithMe {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #ffffff;
    width: 270px;
}

#connect {
    margin: 0px;
    color: #4aaaa5;
    border-bottom: solid #cccccc 1px;
    padding: 25px;
}

#icon {
    width: 70px;
    height: 70px;
}

#icons {
    margin: 25px;
}
.clear {
    content: "";
    display: table;
    clear: both;
}